.main-section {
  text-align: center;
}
.main-section h2,
h4,
h5 {
  margin: 0;
}

.all-spots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  justify-items: center;
}

.main-section h1 {
  background-color: rgb(52, 145, 52);
  padding: 10px 0;
  color: whitesmoke;
}
