.small-card {
  display: flex;
  flex-grow: 1;

  text-align: left;
  border: 1px solid lightgrey;
  margin: 5px;
  background-color: rgb(245, 255, 245);
}

.small-card img {
  height: 82px;
  width: 100px;
}

.small-card button {
  margin-top: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  color: rgb(255, 0, 0);
}

.btn {
  text-align: right;
}

.info h3,
p {
  margin: 0;
}

.info {
  padding: 0 5px;
  width: 195px;
  height: 82px;
}

#your-info {
  flex-grow: 1;
}
